<h2>by <%= @book.authors.map{|a| a.name}.join(", ") %></h2>
<%= image_tag(@book.cover_image.url, :size => "360x480") unless @book.cover_image.blank? %>
<dl>
<dt>Price</dt>
<dd>$<%= sprintf("%0.2f", @book.price) -%></dd>
<dt>Page count</dt>
<dd><%= @book.page_count -%></dd>
<dt>Publisher</dt>
<dd><%= @book.publisher.name %></dd>
<dt>Blurb</dt>
<dd><%= @book.blurb %></dd>
</dl>





<br/>


<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Comments</div>
  <div class="panel-body">
    <p>
      <%= form_tag( {:action => 'create', :controller => 'comment'}, :multipart => true, :remote => true ) do %>
    <%= render :partial => 'comment/form' %>
    <%= submit_tag 'Submit' %>
<% end %>
      </p>
  </div>
<ul class="list-group">

 <%= render :partial => 'comment/comment_list' %>   
    
</ul>
</div>

<br/>
<br/>

<p><%= link_to "Back to Catalog", {:action => "index"}, :class => 'btn btn-info' %></p>
